a{
  text-decoration: none;
}

a:visited{
  color: #262626;
}

a:active {
  color: #262626;
}

.App{
  font-family: Roboto;
}
.logo img{
  height: 80px;
  width: 80px;
}

.logoText{
  font-family: Roboto;
  color: black;
  margin-left: 20px;
  font-size: 20px;
}

.searchWrap{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logoWrap{
  display: flex;
  align-items: center;
}

.nav {
  height: 80px;
  border-bottom: 1px solid #E7E7E7;
  justify-content: center;
  display: flex;
}

.navWrap{
  display: flex;
  width: 1000px;
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #FAFAFA;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.item{
  width: 600px;
  min-height: 530px;
  border: 1px solid #E7E7E7;
  background: white;
  margin-bottom: 40px;
}

.item-title{
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.item-title span{
  font-weight: 500;
}

.item-image img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.item-smallWrap{
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
}
.item-heart{
  width: 100%;
  margin-top: 15px;
  height: 50px;
  border-top: 1px solid #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-heart img{
  height: 20px;
  margin-left: 10px;
}
.item-heart a{
  margin-right: 10px;
}
.button{
  margin-left: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.searchInput{
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  text-align: center;
}

.search{
  position: relative;
}

.searchComponent{
  width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
}

.searchComponentRow{
  width: 230px;
  padding: 10px;
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dbdbdb;
}

.searchImage img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.loginScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  top: 0;
  right: 0;
  background-image: url("https://images.unsplash.com/photo-1485358370836-4fb8998c06f7?dpr=1&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
}

.loginMiddle{
  width: 350px;
  height: 450px;
  background: white;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginMiddle img{
  width: 100px;
}

.profilePic{
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.addPostWrap{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.imagePreview{
  height: 90%;
  width: 100%;
}

.description{
  width: 95%;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #baceda;
  padding: 0.8em;
  border-radius: 3px;
  background-color: #fff;
}

.contentAddPost{
  width: 100%;
  display: flex;
  padding-top: 50px;
  background-color: #FAFAFA;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.inputImage{
  height: 25px;
  margin: 0 0 0.7em 0;
  outline: none;
  border: 1px solid #baceda;
  padding: 0.8em;
  border-radius: 3px;
  background-color: #fff;
}

.imageWrap{
  height: 300px;
  border-radius: 2px;
  background-color: #fafafa;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #baceda;
  text-align: center;
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.16666em
}

.btn{
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  background: #3897f0;
  color: white;
  width: 150px;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.btnWrap{
  display: flex;
  justify-content: flex-end;
}

.item-owner{
  display: flex;
  align-items: center;
  padding: 15px;
}

.item-ownerImage{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.item-ownerName{
  font-weight: 500;
  margin-right: 5px;
}

.item-titleWrap{
  margin-top: 10px;
}
.loader{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.loaderModal{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0,0,0,.7);
}

.loaderModalWrap{
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
}

.loaderModalWrap h5{
  margin-top: 30px;
}

.profileTop{
  display: flex;
}

.profileImageWrap{
  width: 33%;
  display: flex;
  justify-content: center;

}

.profileImgWrap{
  margin: 7px;
}

.profileImage{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.profileTopRight{
  width: 66%;
}

.profileWrap{
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
}

.profileName{
  font-size: 34px;
  line-height: 40px;
}

.profileLine{
  margin-bottom: 15px;
}

.profileGrid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.profileImg {
  width: 315px;
  height: 315px;
  margin-bottom: 25px;
  object-fit: cover;
}

.profileImgWrapHovered .hoverProfileImage{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 30px);
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hoverProfileImage{
  display: none;
}
.hoverProfileImageWrap img{
  width: 20px;
  height: 20px;
}

.profileImgWrap{
  position: relative;
}

.heartCount{
  font-weight: 500;
  color: white;
  margin-left: 10px;
}

.hoverProfileImageWrap{
  align-items: center;
  display: flex;
}

.postDetailWrap{
  position: absolute;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.postDetailSmallWrap{
  max-width: 1000px;
  width: 75%;
  height: 85vh;
  display: flex;
  background: white;
  position: relative;
}

.postDetailRight{
  width: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.postDetailLeft{
  flex: 1;
  display: flex;
  justify-content: center;
}

.postDetailLeft img{
  width: 100%;
  object-fit: cover;
}

.postDetailRightTop{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #EFEFEF;
}

.postDetailRightTop img{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 10px;
}

.mediumFont{
  font-weight: 500;
}
.postDetailRightLikes{
  padding-top: 15px;
}

.postDetailRightOwner{
  padding-top: 15px;
}

.postDetailClose{
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.paddingLeft10{
  padding-left: 10px;
}

.relativePosition{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.postDetailChevronLeft{
  position: absolute;
  left: -50px;
  color: white;
  font-size: 60px;
  top: 40%;
  cursor: pointer;
}

.postDetailChevronRight{
  position: absolute;
  right: -50px;
  color: white;
  font-size: 60px;
  top: 40%;
  cursor: pointer;
}

.postDetailRightCommentSection{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.postDetailRightLikeSection{
  border-top: 1px solid #EFEFEF;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.profileHeart{
  width: 20px;
  height: 20px;
}


body{
  margin: 0;
}